<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
  <!-- Enable features -->
  <featureManager>
    <feature>mpOpenTracing-1.1</feature>
    <feature>mpFaultTolerance-1.0</feature>
    <feature>servlet-3.1</feature>
    <feature>ssl-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>logstashCollector-1.0</feature>
    <feature>mpHealth-1.0</feature>
    <feature>appSecurity-2.0</feature>
    <feature>jsonp-1.0</feature>
    <feature>jaxrs-2.0</feature>
    <feature>mpConfig-1.2</feature>
    <feature>jaxrsClient-2.0</feature>
    <feature>concurrent-1.0</feature>
    <feature>jwt-1.0</feature>
    <feature>mpRestClient-1.0</feature>
    <feature>mpMetrics-1.1</feature>
    <feature>mpJwt-1.0</feature>
    <feature>json-1.0</feature>
    <feature>mpOpenAPI-1.0</feature>
    <feature>cdi-1.2</feature>
    <feature>distributedMap-1.0</feature>
    <feature>usr:opentracingZipkin-0.31</feature>
  </featureManager>

  <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
  <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" >
  </httpEndpoint>
  
  <quickStartSecurity userName="${env.USERNAME}" userPassword="${env.PASSWORD}"/>
  
  <opentracingZipkin/>
  
  <webApplication name="acmeair-mainservice"
        location="acmeair-mainservice-java-2.0.0-SNAPSHOT.war"
        contextRoot="/">
    <classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party"/>
  </webApplication>
  <cdi12 enableImplicitBeanArchives="false"/>
</server>
